.job-container {
    margin: 20px auto;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .job-container p {
    margin-right: 10px;
  }
  
  .add-job-btn {
    padding: 10px 15px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .add-job-btn:hover {
    background-color: #0056b3;
  }
  
  .search-container {
    margin: 20px auto;
    padding: 10px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: max-content;
  }
  
  .search-input {
    padding: 8px;
    margin-right: 10px;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .search-btn {
    margin-top: 10px;
    padding: 10px 15px;
    background-color: #14ab2a;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .search-btn:hover {
    background-color: #0ecf07;
  }
  
  .list-container {
    margin: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  